<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/costom.css">
</head>
<body>
<div class="batch-div1">
    <div class="batch-div2">
        <table class="batch-case-table">
            <thead class="batch-case-thead">
            <tr class="batch-case-tr">
                <th class="batch-case-th">模块</th>
                <th class="batch-case-th">标题</th>
                <th class="batch-case-th">描述</th>
                <th class="batch-case-th">前提条件</th>
                <th class="batch-case-th">步骤</th>
                <th class="batch-case-th">期望结果</th>
                <th class="batch-case-th">优先级</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="batch-case-td">模块2</td>
                <td class="batch-case-td">示例标题</td>
                <td class="batch-case-td">示例描述</td>
                <td class="batch-case-td">示例前提条件</td>
                <td class="batch-case-td">示例步骤</td>
                <td class="batch-case-td">示例期望结果</td>
                <td class="batch-case-td">H</td>
            </tr>
            <tr>
                <td rowspan="2" class="batch-case-td">模块1</td>
                <td class="batch-case-td">示例标题</td>
                <td class="batch-case-td">示例描述</td>
                <td class="batch-case-td">示例前提条件</td>
                <td class="batch-case-td">示例步骤</td>
                <td class="batch-case-td">示例期望结果</td>
                <td class="batch-case-td">M</td>
            </tr>
            <tr>
                <td class="batch-case-td">示例标题</td>
                <td class="batch-case-td">示例描述</td>
                <td class="batch-case-td">示例前提条件</td>
                <td class="batch-case-td">示例步骤</td>
                <td class="batch-case-td">示例期望结果</td>
                <td class="batch-case-td">L</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="line"/>
    <div class="batch-div3">
        <button class="sheet-btn">sheet名也就是项目名</button>
    </div>
</div>
</body>
</html>