{% extends "Base/base.html" %}
{% block added_header %}
    <link rel="stylesheet" href="/static/js/jstree/dist/themes/default/style.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/js/editor.md-master/css/editormd.min.css">
    <link href="/static/js/dist/rome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/costom.css">
{% endblock %}
{% block main_content %}
    <div class="center-div">
        <label>
            <input class="search_node" type="text" name="search_text" placeholder="搜索" id="search_node">
        </label>
    </div>
    <div class="custom-main">
        <table style="width: 100%; height: 800px">
            <thead>
            <th>
                全部计划
            </th>
            <th>
                详情
            </th>
            </thead>
            <tr>
                <td>
                    <div id="all-plan-tree" class="execution-tree"></div>
                </td>
                <td style="width: 600px;height: 800px">
                    <div class="col-12 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll max-height execution-case-detail"
                             id="plan-task-case-form">
                            {% csrf_token %}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block added_script %}
    <script src="/static/js/jstree/dist/jstree.min.js"></script>
    <script src="/static/js/editor.md-master/lib/marked.min.js"></script>
    <script src="/static/js/editor.md-master/lib/prettify.min.js"></script>
    <script src="/static/js/editor.md-master/lib/raphael.min.js"></script>
    <script src="/static/js/editor.md-master/lib/underscore.min.js"></script>
    <script src="/static/js/editor.md-master/lib/sequence-diagram.min.js"></script>
    <script src="/static/js/editor.md-master/lib/flowchart.min.js"></script>
    <script src="/static/js/editor.md-master/lib/jquery.flowchart.min.js"></script>
    <script src="/static/js/editor.md-master/editormd.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/daterangepicker.js"></script>
    <script src="/static/js/countdowntime.js"></script>
    <script src="/static/js/dist/rome.js"></script>

    <script type="application/javascript">
        let csrftoken = Cookies.get('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
                layer.load(0, {shade: false});
            }
        });
        let data = '{{ all_data|escapejs }}';
        let parsedData = JSON.parse(unescape(data.replace(/\\u/g, '%u')));
        let tree = $("#all-plan-tree");
        $(tree).jstree({
            'core': {
                'data': parsedData,
                'check_callback': true,
            },
            "plugins": [
                "dnd", "search",
                "state", "types", "contextmenu",
            ],
            "contextmenu": {
                "items": function ($node) {
                    let item_id = $node.id;
                    console.log(item_id);
                    if ((item_id.includes("plan"))) {
                        let plan_id = item_id.replace("plan", "");
                        return {
                            "New": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "任务",
                                "icon": "/static/images/img/add.png",
                                "action": function (obj) {
                                    let case_detail_or_edit_form = $(".case_detail_ol,form, .select");
                                    if ($(case_detail_or_edit_form).length !== 0) {
                                        $(case_detail_or_edit_form).remove();
                                    }

                                    let steps_detail = $("#case_detail_steps");
                                    if ($(steps_detail).length !== 0) {
                                        $(steps_detail).remove();
                                    }
                                    let html_source = '<form class="contact100-form validate-form" enctype="multipart/form-data">' +
                                        '{% csrf_token %}\n' +
                                        '<input type="hidden" name="plan" value="' + plan_id + '">' +
                                        '<div class="select center-div" for="users">' +
                                        '<select id="user" name="user">' +
                                        '<option value="" selected disabled hidden>选择执行者</option></select>' +
                                        '</div>' +
                                        '<div class="center-div">' +
                                        '<button style="margin-top: 200px;background-color: #f5a623;padding: 0 20px;color: white;font-family: Ubuntu-Bold;">新增</button>' +
                                        '</div>' +
                                        '</form>';
                                    $("#plan-task-case-form").append(html_source);
                                    $.ajax({
                                        type: "GET",
                                        url: "{% url 'users' %}?not_has_task=1",
                                        success: function (resultData) {
                                            layer.closeAll();
                                            let status = resultData.status;
                                            if (status === 1) {
                                                let result_data = resultData.data;
                                                for (let i = 0; i < result_data.length; i++) {
                                                    $("#user").append(new Option(result_data[i].name, result_data[i].id));
                                                }
                                            }
                                        },
                                        error: function () {
                                            layer.closeAll();
                                            layer.msg("服务器异常，请稍后再试!");
                                        }
                                    });
                                    $("form").submit(function (e) {
                                        e.preventDefault();
                                        let formData = new FormData(this);
                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'task' %}",
                                            data: formData,
                                            contentType: false,
                                            processData: false,
                                            dataType: 'json',
                                            success: function (resultData) {
                                                layer.closeAll();
                                                let result_message = resultData["msg"];
                                                let result_status = resultData["status"];
                                                let result_data = resultData["data"];
                                                if (result_status === 1) {
                                                    $(tree).jstree('create_node', $node, {
                                                        "id": "task" + result_data.task,
                                                        "text": result_data.user,
                                                        "icon": result_data.avatar
                                                    }, "last", false, false);
                                                    $(tree).jstree(true).deselect_node($node);
                                                    $(tree).jstree(true).select_node("task" + result_data.task);
                                                    $.ajax({
                                                        type: "GET",
                                                        url: "{% url 'task' %}?pk=" + result_data.task,
                                                        success: function (resultData) {
                                                            layer.closeAll();
                                                            let result_data = resultData["data"];
                                                            let status = resultData.status;
                                                            if (status === 1) {
                                                                let case_detail_or_edit_form = $(".case_detail_ol,form, .select");
                                                                if ($(case_detail_or_edit_form).length !== 0) {
                                                                    $(case_detail_or_edit_form).remove();
                                                                }

                                                                let steps_detail = $("#case_detail_steps");
                                                                if ($(steps_detail).length !== 0) {
                                                                    $(steps_detail).remove();
                                                                }
                                                                let html_source = '<ol class="case_detail_ol">\n' +
                                                                    '                                <li class="case_detail_li">\n' +
                                                                    '                                    <p class="case_detail_h4">执行者</p>\n' +
                                                                    '                                    <p class="case_detail_desc"></p>\n' +
                                                                    '                                </li>\n' +
                                                                    '                                <li class="case_detail_li">\n' +
                                                                    '                                    <p class="case_detail_h4">用例总计</p>\n' +
                                                                    '                                    <p class="case_detail_preconditions">' +
                                                                    '</p>' +
                                                                    '                                </li>\n' +
                                                                    '                                <li class="case_detail_li">\n' +
                                                                    '                                    <p class="case_detail_h4">进度</p>\n' +
                                                                    '                                    <p class="case_detail_expectation"></p>\n' +
                                                                    '                                </li>\n' +
                                                                    '                                <li class="case_detail_li">\n' +
                                                                    '                                    <p class="case_detail_h4">BUG总计</p>\n' +
                                                                    '                                    <p class="case_detail_priority"></p>\n' +
                                                                    '                                </li>\n' +
                                                                    '                            </ol>';
                                                                $("#plan-task-case-form").append(html_source);
                                                                $(".case_detail_desc").text(result_data.executor);
                                                                if (result_data.cases === 0) {
                                                                    $(".case_detail_preconditions").append("<a class=\"operation_link associate_case_with_task\" href=>0 - (去关联)</a>");
                                                                    $(".associate_case_with_task").on("click", function () {
                                                                        let win = window.open("{% url 'list_case' %}", "_blank");
                                                                        win.focus();
                                                                    });
                                                                } else {
                                                                    $(".case_detail_preconditions").text(result_data.cases);
                                                                }
                                                                $(".case_detail_expectation").text(result_data.process);
                                                                $(".case_detail_priority").text(result_data.bugs);
                                                            }

                                                        },
                                                        error: function () {
                                                            layer.closeAll();
                                                            layer.msg("服务器异常，请稍后再试!");
                                                        }
                                                    });
                                                    layer.msg("添加任务成功!");

                                                } else {
                                                    layer.msg(result_message);
                                                }
                                            },
                                            error: function () {
                                                layer.msg("服务器异常，请稍后再试!");
                                            }
                                        })
                                    });

                                }
                            },
                            "Detail": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "详情",
                                "icon": "/static/images/img/info.png",
                                "action": function (obj) {
                                    $.ajax({
                                        type: "GET",
                                        url: "{% url 'plan' %}?pk=" + plan_id,
                                        success: function (resultData) {
                                            layer.closeAll();
                                            let result_data = resultData["data"];
                                            let status = resultData.status;
                                            if (status === 1) {
                                                let case_detail_or_edit_form = $(".case_detail_ol,form, .select");
                                                if ($(case_detail_or_edit_form).length !== 0) {
                                                    $(case_detail_or_edit_form).remove();
                                                }

                                                let steps_detail = $("#case_detail_steps");
                                                if ($(steps_detail).length !== 0) {
                                                    $(steps_detail).remove();
                                                }
                                                let html_source = '<ol class="case_detail_ol">\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">代号</p>\n' +
                                                    '                                    <p class="case_detail_title"></p>\n' +
                                                    '                                </li>\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">用例总计</p>\n' +
                                                    '                                    <p class="case_detail_desc"></p>\n' +
                                                    '                                </li>\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">进度</p>\n' +
                                                    '                                    <p class="case_detail_preconditions">' +
                                                    '</p>' +
                                                    '                                </li>\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">BUG总计</p>\n' +
                                                    '                                    <p class="case_detail_expectation"></p>\n' +
                                                    '                                </li>\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">参与者</p>\n' +
                                                    '                                    <p class="case_detail_priority"></p>\n' +
                                                    '                                </li>\n' +
                                                    '                            </ol>';
                                                $("#plan-task-case-form").append(html_source);
                                                $(".case_detail_title").text(result_data.name);
                                                $(".case_detail_desc").text(result_data.cases);
                                                $(".case_detail_preconditions").text(result_data.process);
                                                $(".case_detail_expectation").text(result_data.bugs);
                                                $(".case_detail_priority").text(result_data.executors.join(", "));
                                            }

                                        },
                                        error: function () {
                                            layer.closeAll();
                                            layer.msg("服务器异常，请稍后再试!");
                                        }
                                    });
                                }
                            },
                            "edit": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "编辑",
                                "icon": "/static/images/img/edit.png",
                                "action": function (obj) {
                                    let plan_detail_form = $(".case_detail_ol, .module_detail_ol, .project_detail_ol, form");
                                    if ($(plan_detail_form).length !== 0) {
                                        $(plan_detail_form).remove();
                                    }

                                    let data = '<form class="contact100-form validate-form" enctype="multipart/form-data">' +
                                        '<input type=hidden name="pk" id="plan_pk">' +
                                        '<div class="project_selector separate-line-bottom">\n' +
                                        '                        <p>\n' +
                                        '                            {% csrf_token %}\n' +
                                        '                            <label for="plan_code_name">计划代号*:</label>\n' +
                                        '                            <input id="plan_code_name" type="text" name="plan_code_name" autocomplete="off" style="text-align:center">\n' +
                                        '                        </p>\n' +
                                        '                        <p>\n' +
                                        '                            <label for="start_time">开始时间*:</label>\n' +
                                        '                            <input id="start_time" name="start_time" class="time_input" autocomplete="off">\n' +
                                        '                        </p>\n' +
                                        '                        <p>\n' +
                                        '                            <label for="end_time">结束时间*:</label>\n' +
                                        '                            <input id="end_time" name="end_time" class="time_input" autocomplete="off">\n' +
                                        '                        </p>\n' +
                                        '                    </div>' +
                                        '                    <div class="center-div">' +
                                        '                        <button style="margin-top: 200px;background-color: #f5a623;padding: 0 20px;color: white;font-family: Ubuntu-Bold;">更新' +
                                        '                        </button>' +
                                        '                    </div>' +
                                        '                </form>';
                                    $("#plan-task-case-form").append(data);
                                    $.ajax({
                                        type: "GET",
                                        url: "{% url 'plan' %}?pk=" + plan_id,
                                        success: function (resultData) {
                                            layer.closeAll();
                                            let result_data = resultData["data"];
                                            let status = resultData.status;
                                            if (status === 1) {
                                                $("input[name='plan_code_name']").val(result_data.name);
                                                $("#plan_pk").val(plan_id);
                                                let plan_start_time = rome(start_time, options = {
                                                    "initialValue": result_data.start_time,
                                                    "required": true
                                                });
                                                let plan_end_time = rome(end_time, options = {
                                                    "initialValue": result_data.end_time,
                                                    "required": true
                                                });
                                            } else {
                                                layer.msg(resultData.msg);
                                            }

                                        },
                                        error: function () {
                                            layer.closeAll();
                                            layer.msg("服务器异常，请稍后再试!");
                                        }
                                    });

                                    $("form").submit(function (e) {
                                        e.preventDefault();
                                        let formData = new FormData(this);
                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'plan' %}",
                                            data: formData,
                                            contentType: false,
                                            processData: false,
                                            dataType: 'json',
                                            success: function (resultData) {
                                                layer.closeAll();
                                                let result_message = resultData["msg"];
                                                let result_status = resultData["status"];
                                                let result_data = resultData["data"];
                                                if (result_status === 1) {
                                                    let case_detail_or_edit_form = $(".case_detail_ol,form, .select");
                                                    if ($(case_detail_or_edit_form).length !== 0) {
                                                        $(case_detail_or_edit_form).remove();
                                                    }

                                                    let steps_detail = $("#case_detail_steps");
                                                    if ($(steps_detail).length !== 0) {
                                                        $(steps_detail).remove();
                                                    }
                                                    let html_source = '<ol class="case_detail_ol">\n' +
                                                        '                                <li class="case_detail_li">\n' +
                                                        '                                    <p class="case_detail_h4">代号</p>\n' +
                                                        '                                    <p class="case_detail_title"></p>\n' +
                                                        '                                </li>\n' +
                                                        '                                <li class="case_detail_li">\n' +
                                                        '                                    <p class="case_detail_h4">用例总计</p>\n' +
                                                        '                                    <p class="case_detail_desc"></p>\n' +
                                                        '                                </li>\n' +
                                                        '                                <li class="case_detail_li">\n' +
                                                        '                                    <p class="case_detail_h4">进度</p>\n' +
                                                        '                                    <p class="case_detail_preconditions">' +
                                                        '</p>' +
                                                        '                                </li>\n' +
                                                        '                                <li class="case_detail_li">\n' +
                                                        '                                    <p class="case_detail_h4">BUG总计</p>\n' +
                                                        '                                    <p class="case_detail_expectation"></p>\n' +
                                                        '                                </li>\n' +
                                                        '                                <li class="case_detail_li">\n' +
                                                        '                                    <p class="case_detail_h4">参与者</p>\n' +
                                                        '                                    <p class="case_detail_priority"></p>\n' +
                                                        '                                </li>\n' +
                                                        '                            </ol>';
                                                    $("#plan-task-case-form").append(html_source);
                                                    $(".case_detail_title").text(result_data.name);
                                                    $(".case_detail_desc").text(result_data.cases);
                                                    $(".case_detail_preconditions").text(result_data.process);
                                                    $(".case_detail_expectation").text(result_data.bugs);
                                                    $(".case_detail_priority").text(result_data.executors.join(", "));
                                                    $("#all-plan-tree").jstree('rename_node', $node, result_data.name);
                                                    layer.msg("更新成功");
                                                } else {
                                                    layer.msg(result_message);
                                                }
                                            },
                                            error: function () {
                                                layer.msg("服务器异常，请稍后再试!");
                                            }
                                        })
                                    });
                                }
                            },
                            "delete": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "删除",
                                "icon": "/static/images/img/delete.png",
                                "action": function (obj) {
                                    layer.msg("确认删除此测试计划吗?", {
                                        btn: ["确认", "取消"],
                                        time: 0,
                                        yes: function () {
                                            $.ajax({
                                                type: "DELETE",
                                                url: "{% url 'plan' %}",
                                                data: {"pk": plan_id},
                                                success: function (resultData) {
                                                    let result_message = resultData["msg"];
                                                    layer.msg(result_message);
                                                    let result_status = resultData["status"];
                                                    if (result_status === 1) {
                                                        window.location.href = "{% url 'plan' %}";
                                                    }
                                                },
                                                error: function () {
                                                    layer.msg("服务器异常，请稍后再试!");
                                                }
                                            });
                                        }
                                    })
                                }
                            },
                        };
                    } else if ((item_id.includes("task"))) {
                        let task_id = item_id.replace("task", "");
                        return {
                            "New": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "用例",
                                "icon": "/static/images/img/add.png",
                                "action": function (obj) {
                                    let win = window.open("{% url 'list_case' %}", "_blank");
                                    win.focus();
                                }
                            },
                            "Detail": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "详情",
                                "icon": "/static/images/img/info.png",
                                "action": function (obj) {
                                    $.ajax({
                                        type: "GET",
                                        url: "{% url 'task' %}?pk=" + task_id,
                                        success: function (resultData) {
                                            layer.closeAll();
                                            let result_data = resultData["data"];
                                            let status = resultData.status;
                                            if (status === 1) {
                                                let case_detail_or_edit_form = $(".case_detail_ol,form, .select");
                                                if ($(case_detail_or_edit_form).length !== 0) {
                                                    $(case_detail_or_edit_form).remove();
                                                }

                                                let steps_detail = $("#case_detail_steps");
                                                if ($(steps_detail).length !== 0) {
                                                    $(steps_detail).remove();
                                                }
                                                let html_source = '<ol class="case_detail_ol">\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">执行者</p>\n' +
                                                    '                                    <p class="case_detail_desc"></p>\n' +
                                                    '                                </li>\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">用例总计</p>\n' +
                                                    '                                    <p class="case_detail_preconditions">' +
                                                    '</p>' +
                                                    '                                </li>\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">进度</p>\n' +
                                                    '                                    <p class="case_detail_expectation"></p>\n' +
                                                    '                                </li>\n' +
                                                    '                                <li class="case_detail_li">\n' +
                                                    '                                    <p class="case_detail_h4">BUG总计</p>\n' +
                                                    '                                    <p class="case_detail_priority"></p>\n' +
                                                    '                                </li>\n' +
                                                    '                            </ol>';
                                                $("#plan-task-case-form").append(html_source);
                                                $(".case_detail_desc").text(result_data.executor);
                                                if (result_data.cases === 0) {
                                                    $(".case_detail_preconditions").append("<a class=\"operation_link associate_case_with_task\" href=>0 - (去关联)</a>");
                                                    $(".associate_case_with_task").on("click", function () {
                                                        let win = window.open("{% url 'list_case' %}", "_blank");
                                                        win.focus();
                                                    });
                                                } else {
                                                    $(".case_detail_preconditions").text(result_data.cases);
                                                }
                                                $(".case_detail_expectation").text(result_data.process);
                                                $(".case_detail_priority").text(result_data.bugs);
                                            }

                                        },
                                        error: function () {
                                            layer.closeAll();
                                            layer.msg("服务器异常，请稍后再试!");
                                        }
                                    });
                                }
                            },
                            "edit": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "编辑",
                                "icon": "/static/images/img/edit.png",
                                "action": function (obj) {
                                    let case_detail_or_edit_form = $(".case_detail_ol,form, .select");
                                    if ($(case_detail_or_edit_form).length !== 0) {
                                        $(case_detail_or_edit_form).remove();
                                    }

                                    let steps_detail = $("#case_detail_steps");
                                    if ($(steps_detail).length !== 0) {
                                        $(steps_detail).remove();
                                    }
                                    let html_source = '<form class="contact100-form validate-form" enctype="multipart/form-data">' +
                                        '{% csrf_token %}\n' +
                                        '<input type="hidden" name="pk" value="' + task_id + '">' +
                                        '<div class="select center-div" for="users">' +
                                        '<select id="user" name="user">' +
                                        '<option value="" selected disabled hidden>选择执行者</option></select>' +
                                        '</div>' +
                                        '<div class="center-div">' +
                                        '<button style="margin-top: 200px;background-color: #f5a623;padding: 0 20px;color: white;font-family: Ubuntu-Bold;">变更</button>' +
                                        '</div>' +
                                        '</form>';
                                    $("#plan-task-case-form").append(html_source);
                                    $.ajax({
                                        type: "GET",
                                        url: "{% url 'users' %}",
                                        success: function (resultData) {
                                            layer.closeAll();
                                            let status = resultData.status;
                                            if (status === 1) {
                                                let result_data = resultData.data;
                                                for (let i = 0; i < result_data.length; i++) {
                                                    $("#user").append(new Option(result_data[i].name, result_data[i].id));
                                                }
                                            }
                                        },
                                        error: function () {
                                            layer.closeAll();
                                            layer.msg("服务器异常，请稍后再试!");
                                        }
                                    });
                                    $("form").submit(function (e) {
                                        e.preventDefault();
                                        let formData = new FormData(this);
                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'task' %}",
                                            data: formData,
                                            contentType: false,
                                            processData: false,
                                            dataType: 'json',
                                            success: function (resultData) {
                                                layer.closeAll();
                                                let result_message = resultData["msg"];
                                                let result_message_reason = resultData["reason"];
                                                let result_status = resultData["status"];
                                                if (result_status === 1) {
                                                    layer.msg(result_message);
                                                    window.location.href = "{% url 'plan' %}";
                                                } else {
                                                    layer.msg(result_message + ": " + result_message_reason);
                                                }
                                            },
                                            error: function () {
                                                layer.msg("服务器异常，请稍后再试!");
                                            }
                                        })
                                    });

                                }
                            },
                            "delete": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "删除",
                                "icon": "/static/images/img/delete.png",
                                "action": function (obj) {
                                    layer.msg("确认删除此任务吗?", {
                                        btn: ["确认", "取消"],
                                        time: 0,
                                        yes: function () {
                                            $.ajax({
                                                type: "DELETE",
                                                url: "{% url 'task' %}",
                                                data: {"pk": task_id},
                                                success: function (resultData) {
                                                    let result_message = resultData["msg"];
                                                    layer.msg(result_message);
                                                    let result_status = resultData["status"];
                                                    if (result_status === 1) {
                                                        window.location.href = "{% url 'plan' %}";
                                                    }
                                                },
                                                error: function () {
                                                    layer.msg("服务器异常，请稍后再试!");
                                                }
                                            });
                                        }
                                    })
                                }
                            },
                        };
                    } else if (item_id.includes("project") || item_id.includes("module") || item_id.includes("case")) {
                        return {
                            "Delete": {
                                "separator_before": false,
                                "separator_after": false,
                                "label": "删除",
                                "icon": "/static/images/img/delete.png",
                                "action": function (obj) {
                                    layer.msg("确认不需要执行这些(个)用例吗?", {
                                        btn: ["确认", "取消"],
                                        time: 0,
                                        yes: function () {
                                            if (item_id.includes("project")) {

                                                let s = $(tree).jstree("get_selected");
                                                if (s.length > 1) {
                                                    layer.msg("请只选择一个项目进行去关联!");
                                                } else {
                                                    let t = s[0].replace("project", "");
                                                    let project_id = t.split("user")[0];
                                                    let user_id = t.split("user")[1];
                                                    let parent_total_id_string = $(tree).jstree("get_parent", s);
                                                    let task_id = parent_total_id_string.replace("task", "");
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "{% url 'remove_cases_from_plan' %}",
                                                        data: {
                                                            "param": "project",
                                                            "param_id": project_id,
                                                            "user_id": user_id,
                                                            "task_id": task_id
                                                        },
                                                        success: function (resultData) {
                                                            let result_message = resultData["msg"];
                                                            layer.msg(result_message);
                                                            let result_status = resultData["status"];
                                                            if (result_status === 1) {
                                                                window.location.href = "{% url 'plan' %}";
                                                            }
                                                        },
                                                        error: function () {
                                                            layer.msg("服务器异常，请稍后再试!");
                                                        }
                                                    });

                                                }
                                            } else if (item_id.includes("module")) {
                                                let s = $(tree).jstree("get_selected");
                                                if (s.length > 1) {
                                                    layer.msg("请只选择一个模块进行去关联!");
                                                } else {
                                                    let t = s[0].replace("module", "");
                                                    let module_id = t.split("user")[0];
                                                    let user_id = t.split("user")[1];
                                                    let parent_total_id_string = $(tree).jstree("get_parent", $(tree).jstree("get_parent", s));
                                                    let task_id = parent_total_id_string.replace("task", "");
                                                    $.ajax({
                                                        type: "POST",
                                                        url: "{% url 'remove_cases_from_plan' %}",
                                                        data: {
                                                            "param": "module",
                                                            "param_id": module_id,
                                                            "user_id": user_id,
                                                            "task_id": task_id
                                                        },
                                                        success: function (resultData) {
                                                            let result_message = resultData["msg"];
                                                            layer.msg(result_message);
                                                            let result_status = resultData["status"];
                                                            if (result_status === 1) {
                                                                window.location.href = "{% url 'plan' %}";
                                                            }
                                                        },
                                                        error: function () {
                                                            layer.msg("服务器异常，请稍后再试!");
                                                        }
                                                    });

                                                }
                                            } else if (item_id.includes("case")) {
                                                let s = $(tree).jstree("get_selected");
                                                let cases_ids = [];
                                                for (var i = 0; i < s.length; i++) {
                                                    cases_ids.push(s[i].replace("case", ""));
                                                }
                                                let one_of_the_module = $(tree).jstree("get_parent", $node);
                                                let user_id = one_of_the_module.replace("module", "").split("user")[1];
                                                let parent_total_id_string = $(tree).jstree("get_parent", $(tree).jstree("get_parent", one_of_the_module));
                                                let task_id = parent_total_id_string.replace("task", "");
                                                $.ajax({
                                                    type: "POST",
                                                    url: "{% url 'remove_cases_from_plan' %}",
                                                    data: {
                                                        "param": "case",
                                                        "param_id": JSON.stringify(cases_ids),
                                                        "user_id": user_id,
                                                        "task_id": task_id
                                                    },
                                                    success: function (resultData) {
                                                        let result_message = resultData["msg"];
                                                        layer.msg(result_message);
                                                        let result_status = resultData["status"];
                                                        if (result_status === 1) {
                                                            window.location.href = "{% url 'plan' %}";
                                                        }
                                                    },
                                                    error: function () {
                                                        layer.msg("服务器异常，请稍后再试!");
                                                    }
                                                });
                                            }
                                        }
                                    });

                                }
                            }
                        }
                    }
                }
            }
        });
        let to = false;
        $('#search_node').keyup(function () {
            if (to) {
                clearTimeout(to);
            }
            to = setTimeout(function () {
                let v = $('#search_node').val();
                $('#all-plan-tree').jstree(true).search(v);
            }, 250);
        });
    </script>
{% endblock %}