<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建用例-选择项目</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/costom.css">

</head>
<body style="background-color: #6d8da6; margin-top: 20px;height: auto">
<label class="custom_select" for="project">
    <select id="project" name="project">
        <option value="" selected disabled hidden>
            选择项目
        </option>
        {% for p in projects %}
            <option value="{{ p.pk }}">
                {{ p.name }}
            </option>
        {% endfor %}
    </select>
</label>
<div class="container-contact100-form-btn">
    <button id="cancel-button" class="contact100-form-btn cancel-submit">
        <span>
            <i class="fa fa-remove m-r-6" aria-hidden="true"></i>
            取消
        </span>
    </button>
    <button class="contact100-form-btn confirm-select-project">
        <span>
            <i class="fa fa-arrow-right m-r-6" aria-hidden="true"></i>
            下一步
        </span>
    </button>
</div>
<script src="/static/js/js/jquery.min.js"></script>
<script src="/static/js/layer/layer.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $("#cancel-button").click(function () {
            parent.close_pop();
        });
        $(".confirm-select-project").click(function () {
            let p = $("#project").val();
            console.log(p);
            if (p === null) {
                layer.msg("请选择项目");
            }
            else{
                parent.go_to_case_create(p);
            }
        });
    });
</script>
</body>

</html>
