<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关联测试计划-选择测试计划</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/costom.css">

</head>
<body style="background-color: #6d8da6; margin-top: 20px;height: auto">
<label class="custom_select" for="users">
    <select id="users" name="users">
        <option value="" selected disabled hidden>
            选择执行者
        </option>
        {% for u in users %}
            <option value="{{ u.pk }}">
                {{ u.username }}
            </option>
        {% endfor %}
    </select>
</label>

<label class="custom_select" for="plans">
    <select id="plans" name="plans">
        <option value="" selected disabled hidden>
            选择计划
        </option>
        {% for p in plans %}
            <option value="{{ p.pk }}">
                {{ p.name }}
            </option>
        {% endfor %}
    </select>
</label>

<div class="container-contact100-form-btn">
    <button id="cancel-button" class="contact100-form-btn cancel-submit">
        <span>
            <i class="fa fa-remove m-r-6" aria-hidden="true"></i>
            取消
        </span>
    </button>
    <button class="contact100-form-btn confirm-select-user-and-plan">
        <span>
            <i class="fa fa-arrow-right m-r-6" aria-hidden="true"></i>
            保存
        </span>
    </button>
</div>
<script src="/static/js/js/jquery.min.js"></script>
<script src="/static/js/layer/layer.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $("#cancel-button").click(function () {
            parent.close_pop();
        });
        $(".confirm-select-user-and-plan").click(function () {
            let p = $("#plans").val();
            let u = $("#users").val();
            if (p === null || u === null) {
                layer.msg("关联计划和执行者不能为空");
            }
            else{
                parent.create_task_with_ajax(u, p);
            }
        });
    });
</script>
</body>

</html>
